:root {
  --bg-color: #ccc;
  --color: #000;
  --secondary-bg-color: #000;
  --secondary-color: #fff;

  --grid-gap: .5rem;
}

* {
  box-sizing: border-box;
  word-wrap: break-word;
}

html, body {
  height: 100%;
  margin: 0;
  min-height: 100%;
  overflow-x: hidden;
  padding: 0;
}

body {
  align-content: center;
  color: var(--color);
  display: flex;
  flex-grow: 1;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  height: auto;
  margin: 0;
  min-height: 100%;
  padding: 0;
}

#app {
  margin: 0 auto;
  max-width: 960px;
  padding: .5rem;
  width: 100%;
}

.grid {
  display: grid;
  gap: var(--grid-gap);
}

:is(ol, ul).unstyled {
  list-style-type: none;
  list-style-position: inside;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 640px) {
  #app {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
