@import 'variables.less';

:root {
  /* colors */
  --color-bg-global: #fff;
  --color-bg-secondary: #000;
  --color-bg: #ccc;
  --color-fg-secondary: #fff;
  --color-fg: #000;
  --color-outline: #000;
  /* spacing */
  --grid-gap: .5rem;
  --space-xs: .125rem;
  --space-s: .25rem;
  --space-m: .5rem;
  --space-l: 1rem;
  --space-xl: 1.5rem;
  --space-xxl: 2rem;
}

body.dark-mode {
  --color-bg-global: #222;
  --color-bg-secondary: #ccc;
  --color-bg: #555;
  --color-fg-secondary: #000;
  --color-fg: #ccc;
  --color-outline: #fff;
}

* {
  box-sizing: border-box;
  word-wrap: break-word;
}

html, body {
  height: 100%;
  margin: 0;
  min-height: 100%;
  overflow-x: hidden;
  padding: 0;
}

body {
  align-content: center;
  background-color: var(--color-bg-global);
  color: var(--color-fg);
  display: flex;
  flex-grow: 1;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  height: auto;
  margin: 0;
  min-height: 100%;
  padding: 0;
}

#app {
  margin: 0 auto;
  max-width: 960px;
  padding: var(--space-m);
  width: 100%;
}

.grid {
  display: grid;
  gap: var(--grid-gap);
}

:is(ol, ul).unstyled {
  list-style-type: none;
  list-style-position: inside;
  margin: 0;
  padding: 0;
}

@media @breakpoint_m {
  #app {
    padding-left: var(--space-xxl);
    padding-right: var(--space-xxl);
  }
}
